/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --decoration-color: #353430;
  --border-color: #353430;
  --border-hover: #32312d66;
  --heading-color: #ffc2e6;
  --main-color: #fff1f7;
  --text-color: #353430;
  --title-color: #353430;
  --subtitle-color: #353430;
  --background-img: url(../images/cover-image-light.png);
  --visibility: hidden;
  --shadow-color: #FF8DCB;
}


@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --decoration-color: #353430;
    --border-color: #353430;
    --border-hover: #32312d66;
    --main-color: #fff1f7;
    --text-color: #353430;
    --title-color: #353430;
    --subtitle-color: #353430;
    --heading-color: #ffc2e6;
    --background-img: url(../images/cover-image-light.png);
    --visibility: hidden;
    --shadow-color: #FF8DCB;
  }

}

@media (min-width: 1024px) {
  
  :root {
    --shadow-color: #ff0070;
  }
}

@media (min-width: 1024px) {
  
  .page.theme_light {
    --shadow-color: #ff0070;
  }
}


